@charset "utf-8";
/* CSS Document */
/*base*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,textarea{
	margin:0px;
	padding:0px;
}
li{
	list-style:none;	
}
a{
	text-decoration:none;
	color:#252525;	
}
img{
	vertical-align:top;
	border:none;	
}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}
.fl{
	float:left;	
}
.fr{
	float:right;	
}
input,textarea{
	border:none;
	outline:none;
	background:none;	
}
textarea{
	resize:none;	
}
body{
	font-size:12px;	
	color:#999;
}
.w{
	width:1200px;
	margin:0 auto;	
}
/*header*/
.header{
	width: 100%;
	height: 80px;
}
.head_top{
	width: 100%;
	height: 3px;
	background:#6c9902;
}
.head_bt{
	width: 100%;
	height: 77px;
	background:url(../homepage/images/nav_bd.png);
}
h1{
	width: 201px;
	height: 50px;
	background:url(../homepage/images/logo_wang.png) no-repeat;
	margin-top:8px;
	float:left;
}
h1 a{
	display:inline-block;
	text-indent:-999em;
}
.head_nav{
	width: 800px;
	height: 70px;
	float:right;
}
.head_nav a{
	width: 100px;
	height: 70px;
	float:left;
	position:relative;
}
.head_nav b{
	width: 100px;
	height: 70px;
	font:bold 16px/70px '微软雅黑';
	text-align:center;
	position:absolute;
	top:0;
	left: 0;
	z-index:2;
}
.head_nav span{
	width: 100%;
	height: 4px;
	position:absolute;
	left: 0;
	bottom: 0;
	transition:0.8s all ease;
}

.head_nav .m1 span{
	background:orchid;
}
.head_nav .m2 span{
	background:#c0ebf7;
}
.head_nav .m3 span{
	background:#b9d329;
}
.head_nav .m4 span{
	background:#69bcf3;
}
.head_nav .m5 span{
	background:#79d9f3;
}
.head_nav .m6 span{
	background:#ffae5b;
}
.head_nav .m7 span{
	background:#acd180;
}
.head_nav .m8 span{
	background:#66ccff;
}
.head_nav a:hover span{
	height: 100%;
}


